body {
  margin: 0;
  font-family: 'Poppins', sans-serif;
  color: white;
  overflow: hidden;
}

#app {
  width: 100vw;
  height: 100vh;
  position: relative;
}

#background {
  position: absolute;
  display: flex;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
  filter: brightness(0.65);
  justify-content: space-between;  /* Bild links – Mitte – rechts */
  pointer-events: none;            /* verhindert, dass Klicks blockiert werden */
  
}

#textbox {
  position: absolute;
  bottom: 0;
  width: 100%;
  background: rgba(13, 13, 13);
  padding: 20px;
  box-sizing: border-box;
}

#choices button, #nextBtn {
  margin-top: 10px;
  display: block;
  color: white;
  background: rgba(255,255,255,0.2);
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  backdrop-filter: blur(8px);
  margin-left: auto;
  margin-right: 0;
  border-radius: 10px;
}

#background img {
  max-height: 85vh;                /* nicht höher als der Bildschirm */
  object-fit: contain;
  opacity: 0;                /* Standard unsichtbar */
  transition: opacity 0.6s ease-in-out;
}

#person_1 {

}

#optional {

  opacity: 0;                       /* optional – standard unsichtbar */
  transition: opacity 0.3s ease;
}

#person_2 {

}
