/* ---- BASE -------------------------------------------------- */

html, body {
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  font-family: 'Poppins', sans-serif;
  background: black;
}


/* ---- BACKGROUND -------------------------------------------- */

/* hier */
#app {
  position: fixed;
  top: env(safe-area-inset-top, 0);
  right: env(safe-area-inset-right, 0);
  bottom: env(safe-area-inset-bottom, 0);
  left: env(safe-area-inset-left, 0);



  position: absolute;
  inset: 0;
  z-index: 0;
  transform: translateZ(0); /* iOS Fix */
}

#background {
  position: absolute;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;

  top: 0;
  left: 0;
  bottom: 120px; /* etwas höher für schönere Textbox */
  width: 100%;
  height: 100%;

  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  filter: brightness(0.75);
  pointer-events: none;

  inset: 0; /* hier */
}

#background img {
  max-height: 80vh;
  object-fit: contain;
  opacity: 0;
  transition: opacity 0.8s ease-in-out;
  margin: 0 33px 0 33px ;
}


/* ---- TEXTBOX ------------------------------------------------ */

#person_1_label, 
#person_2_label{
  position: absolute;
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
  text-align: center; 
  height: 30px;
  width: 80px;
  /* bottom: 100px; */
  bottom: 95px;
  /* border-radius: 10px; */
  opacity: 0;
  transition: opacity 0.8s ease-in-out;
  font-weight: 500;
  letter-spacing: 0.3px;
  margin: 0;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
}
#person_1_label{
  left: 40px;
}
#person_2_label{
  right: 40px;
}


.glas_effect {
  background: rgba(10, 10, 10, 0.55);
  backdrop-filter: blur(12px);
  border: 2px solid rgba(255, 255, 255, 0.12);
  transform: translateZ(0);
  -webkit-backdrop-filter: blur(12px);
  color: white;

}

#textbox {
  left: 12px;
  right: 12px;
  position: absolute;
  bottom: 12px;
  border-radius: 10px;
  height: 80px;
  min-height: 70px;
  z-index: 20;
  display: flex;
  flex-direction: row;
  align-items:center;
  justify-content: space-evenly;
  padding: 12px 20px;
  box-sizing: border-box;

  
}

#text-container {
  width: 85%;
  height: 100%;
  display: flex;
  
}

#text-container p {
  font-size: 1.0rem;
  line-height: 1.2;
  color: #cecece;
  padding-right: 20px;
  margin: 5px;
}


/* ---- BUTTON SECTION ----------------------------------------- */

#button-container {
  width: 10%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

#nextBtn {
  width: 100px;
  height: 50px;

  background: linear-gradient(
    to bottom right,
    rgba(255,255,255,0.3),
    rgba(255,255,255,0.15)
  );

  color:#cecece;;
  font-size: 1rem;
  border: none;
  border-radius: 12px;
  cursor: pointer;
  backdrop-filter: blur(10px);
  box-shadow: 0 4px 15px rgba(0,0,0,0.25);

  transition: transform 0.2s ease, background 0.3s ease;
}



#nextBtn:disabled {
  opacity: 0.4;
  transform: none;
  cursor: default;
}